version: 1.0.{build}

branches:
  only:
  - master

configuration: Release
platform: x64
clone_depth: 1

environment:
  matrix:
  - nodejs_version: 0.10.36
  - nodejs_version: 0.12.7
  - nodejs_version: 4.0.0

install:
- ps: >-
    Install-Product node $env:nodejs_version x64

    npm -v

    node -v

    npm install --msvs_version=2013
- 7z a -ttar -so websocketio_win_%nodejs_version%.tar C:\projects\websocketio\ | 7z a -si websocketio_win_%nodejs_version%.tar.gz

build: off

artifacts:
- path: websocketio_win_$(nodejs_version).tar.gz
  name: websocketio-win64

deploy:
- provider: FTP
  host: ftp.sagecommons.org
  protocol: ftp
  username: upload@sagecommons.org
  password:
    secure: nJ5DR4tXepEgiOsXpf4omw==
  folder: /
  artifact: websocketio-win64

after_deploy:
- dir

notifications:
- provider: Slack
  auth_token:
    secure: zWPzLLrh/2HV3lXJd9q5XK+m2D1zn/bWBIQOzjQ2QkFSFL3ijB839EMqTRUrYZeA
  channel: appveyor
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
